<!DOCTYPE html>
<html ng-app="ridehook">

<head>
    <meta charset="utf-8" />
    <title id="Ridehook">Ridehook</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="styles/viewStyles.css" />
    <link rel="stylesheet" type="text/css" href="styles/searchTables.css" />
    <link rel="stylesheet" href="/scripts/angular-material/angular-material.css">
</head>

<body>
    <div id="signup" class="popupContainer" ng-controller="AppCtrl" ng-cloak="">
        <div layout="row" layout-wrap="" layout-margin="" layout-align="end">
            <md-button class=" md-flat" href="/#/trips">Want to Drive?</md-button>
            <md-button ng-show="loggedIn" class=" md-flat"  href="/#/profile">Hello, <span style="color: blue;">{{ loggedIn }}</span>!</md-button>
            <md-button ng-hide="loggedIn" class="md-primary md-flat" ng-click="showSignUp($event)">Sign Up</md-button>
            <!-- <md-button class="md-primary md-flat" ng-click="showSignIn($event)" ng-hide='showSignInButton.loggedIn'>Sign In</md-button> -->
            <md-button class="md-primary md-flat" ng-click="showSignIn($event)" ng-hide='loggedIn'>Sign In</md-button>
            <md-button ng-show="loggedIn" class=" md-flat" style="align: left;" ng-click="logOut()"> Log Out </md-button>

        </div>

        <script type="text/ng-template" id="dialog1.tmpl.html"></script>
        <script type="text/ng-template" id="tabDialog.tmpl.html">
            <md-dialog flex="25">
                <form>
                    <md-tabs id="signupTab" md-border-bottom>
                        <md-tab label="Sign Up">
                            <md-content height="auto" layout="column" class="md-padding">
                                <input type="text" placeholder="Username" ng-model="username"></input>
                                <input type="password" placeholder="Password" ng-model="password"></input>
                                <input type="text" placeholder="First Name" ng-model="first_name"></input>
                                <input type="text" placeholder="Last Name" ng-model="last_name"></input>
                                <input type="email" placeholder="Email" ng-model="email"></input>
                                <input type="text" placeholder="Birth date" ng-model="birth_date"></input>
                                <input type="text" placeholder="Profile picture link" ng-model="profile_pic"></input>
                                <input type="text" placeholder="City" ng-model="city"></input>
                                <input type="text" placeholder="State" ng-model="state"></input>
                                <input type="text" placeholder="Zip Code" ng-model="zip"></input>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                    <md-dialog-actions layout="row">
                        <md-button ng-click="hide()">Cancel</md-button>
                        <md-button ng-click="newUser({
                                'username': username,
                                'password': password,
                                'first_name': first_name,
                                'last_name': last_name,
                                'email': email,
                                'birth_date': birth_date,
                                'profile_pic': profile_pic,
                                'city': city,
                                'state': state,
                                'zip': zip
                              })" style="margin-right:20px;">
                            Sign Up
                        </md-button>
                    </md-dialog-actions>
                </form>
            </md-dialog>
        </script>

    </div>
    <div id="signin" class="popupContainer" ng-controller="AppCtrl" ng-cloak="">
        <div layout-wrap="" layout-margin="" layout-align="end">
        </div>
        <script type="text/ng-template" id="dialog1.tmpl.html"></script>
        <script type="text/ng-template" id="tabDialog1.tmpl.html">
            <md-dialog>
                <form>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Sign In">
                            <md-content layout="column" class="md-padding">
                                <input type="text" placeholder="Username" ng-model="username"></input>

                                <input type="password" placeholder="Password" ng-model="password"></input>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                    <md-dialog-actions layout="row">
                        <md-button ng-click="hide()">Cancel</md-button>
                        <md-button ng-click="loginUser({'username': username, 'password': password})" style="margin-right:20px;">Sign In</md-button>
                    </md-dialog-actions>
                </form>
            </md-dialog>

        </script>
    </div>

    <!--<div id="div-main" >
      <h3>Ridehook: hook a ride!</h3>
    </div>-->

    <!-- the ng-view directive is where our templates will be loaded into when navigated to -->
    <div ng-view></div>

    <script src="/scripts/angular/angular.js"></script>
    <script src="/scripts/angular-route/angular-route.js"></script>
    <script src="/scripts/angular-aria/angular-aria.js"></script>
    <script src="/scripts/angular-animate/angular-animate.js"></script>
    <script src="/scripts/angular-material/angular-material.js"></script>

    <script src="app/search/search.js"></script>
    <script src="app/trips/trips.js"></script>
    <script src="app/search/search.js"></script>
    <script src="app/messages/messages.js"></script>
    <script src="app/home/home.js"></script>
    <script src="app/reviews/reviews.js"></script>
    <script src="app/trips/viewtrip.js"></script>
    <script src="app/app.js"></script>
    <script src="app/profile/profile.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcyA-b6Nrf7_FbHkKHsJDAaVQmc71ajT4"></script>
    <script src="app/search/gmap.js"></script>

</body>

</html>
