<!DOCTYPE html>
<html ng-app="ridehook">
  <head>
    <meta charset="utf-8" />
    <title>Ridehook</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <link rel="stylesheet" href="/scripts/angular-material/angular-material.css">
  </head>
  <body >
      <div id="signin/signup" ng-controller="AppCtrl" id="popupContainer" ng-cloak="" ng-app="MyApp">
    
    <div layout="row" layout-wrap="" layout-margin="" layout-align="end">
      <md-button class="md-primary md-flat" ng-click="showTabDialog($event)">
       Sign in | Sign Up
      </md-button>
    </div>

    <script type="text/ng-template" id="dialog1.tmpl.html"></script>
      <script type="text/ng-template" id="tabDialog.tmpl.html">
        <md-dialog>
      <form ng-submit="submit()">
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Sign Up">
              <md-content class="md-padding">
              
                <input type="text" ng-model="firstname" >First Name</input>
                <input type="text" ng-model="lastname" >Last Name</input>
                
          
              </md-content>
            </md-tab>
            <md-tab label="Sign In">
              <md-content class="md-padding">
    <!-- text and box contents go here -->
              </md-content>
            </md-tab>
          </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row"> 
          <span flex></span>
          <md-button ng-click="postUser()" >
            Cancel
          </md-button>
          <md-button ng-click="postUser({'firstname': firstname, 'lastname': lastname})" style="margin-right:20px;" >
            Sign In
          </md-button>
        </md-dialog-actions>
      </form>
    </md-dialog>
    </script></div>
    
    <div id="div-main" >
      <h3>Ridehook: hook a ride!</h3>

    </div>
    <!-- the ng-view directive is where our templates will be loaded into when navigated to -->
    <div ng-view></div>
  
    <script src="/scripts/angular/angular.js"></script>
    <script src="/scripts/angular-route/angular-route.js"></script>
    <script src="/scripts/angular-aria/angular-aria.js"></script>
    <script src="/scripts/angular-animate/angular-animate.js"></script>
    <script src="/scripts/angular-material/angular-material.js"></script>  


    <script src="app/messages/messages.js"></script>
    <script src="app/app.js"></script>

  </body>
</html>
