body {
	width: 100%;
}

#div-main {
	width: 100%;
	margin: auto;
}

#div-main h3 {
	text-align: center;
}

.div-title {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 20px;
}

#container {
	text-align: center;
}

/*home below */

#home-main {
    width: 100%;
    margin: auto;
}

#home-main h3 {
    text-align: center;
	position: absolute;
	top: 35.5%;
	left: 50%;
	transform: translate(-50%, 0%);

}

#howItWorks{
	position: absolute;
	top: 55.0%;
	left: 50%;
	transform: translate(-50%, 0%);

}

#div-searchboxes{
	position: absolute;
	top: 75.5%;
	left: 50%;
	transform: translate(-50%, 0%);

}

/* Trip View Styles */

#tripForm {
	width: 600px;
	margin: 0 auto;
	border: 1px solid black;
}

#textarea-description {
	width: 500px;
	height: 50px;
}

#input-pickup-location {
	width: 200px;
}