body {
	width: 100%;

}

#div-main {
	width: 100%;
	margin: auto;
}

#div-main h3 {
	text-align: center;
}

.div-title {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 20px;
}

#container {
	text-align: center;
}
#signupTab{
	height:300px;
}

#logoRide{
	display: block;
	position: absolute;
	float: left;
	margin-top: 5px;
	padding-top: 0px;
	margin-left: 10px;
	color: #F2635F;
	font-size: 35px;
}

/* home view styles */

/*test*/

#home-main {
    width: 100%;
    margin: auto;

}

#signup{
	color: #F2635F;
}

#signin{
	color: #F2635F;
}



#home-main h3 {
    text-align: center;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, 0%);
	color: white;
	font-size: 45px;
 	text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;

}

#howItWorks{
	position: absolute;
	top: 35.0%;
	left: 50%;
	transform: translate(-50%, 0%);
}

#div-searchboxes{
	position: absolute;
	top: 55.5%;
	left: 50%;
	transform: translate(-50%, 0%);
}

/*Profile Page Styles */
#verifiedcolumnleft{
	color: green;
	font-weight: bold;
	padding-left: 40px;
	display: inline-block;
	float:left;
}

#rightcolumn{
		padding-left: 40px;
		display:inline-block;
		padding-left: 100px;
		float: center;
		padding-right: 40px;
}

#reviewsbelowrightcolumn{
	display: block;
	float: right;
}

#textbox{
	width: 500px;
	height: 200px;
}


#bioparagraph{
	max-width: 500px;
	overflow: auto;
}

/* create a trip view styles */

#create-trip-title {
	font-family: 'Noto Serif', serif;
	font-size: 2em;
}

#div-trip {
	background-color: #9fbddf;
	border: 1px solid black;
}

#tripForm {
	font-family: 'Noto Serif', serif;
	font-size: 1.2em;
	width: 600px;
	margin: 0 auto;
	//border: 1px solid black;
	border-radius: 10px;
	padding-bottom: 10px;
}

#textarea-description {
	width: 500px;
	height: 50px;
}

#div-location {
	padding-bottom: 30px;
}

#input-pickup-location {
	width: 200px;
	text-align: center;
}

#div-datetime {
	margin-left: 40px;
	float: left;
}

#div-seats {
	display: block;
}

#input-numSeats {
	width: 30px;
	height: 25px;
	//display: block;
	text-align: center;
}

#btn-submit-trip {
	//display: block;
	color: #ffffff;
	border-radius: 5px;
	background-color: #dd4b39;
	margin-top: 10px;
}

#err_msg {
	color: red;
}

#confirm_msg {
	color: blue;
}

/* search view -- start */
/*#search-main table, th, td {
  border: 1px solid black;
}*/

#search-main td {
	text-align: center;
}

#search-main .description {
	text-align: left;
}

/*#searchcontainer {
  border: 1px solid blue;
}*/

#map {
	border: 1px solid black;
	height: 300px;
	width: 75%;
	margin: 0 auto;
}
/*#floating-panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
}*/

/*#search-main {
  border: 1px solid blue;
}*/
/* search view -- end */
