body {
<<<<<<< 7a98fa8187c682b62c62d6ccf20706f6789c4338
    width: 100%;
}

#div-main {
    width: 100%;
    margin: auto;
}

#div-main h3 {
    text-align: center;
	position: absolute;
	top: 35.5%;
	left: 50%;
	transform: translate(-50%, 0%);

}

#howItWorks{
	position: absolute;
	top: 55.0%;
	left: 50%;
	transform: translate(-50%, 0%);

}

#div-searchboxes{
	position: absolute;
	top: 75.5%;
	left: 50%;
	transform: translate(-50%, 0%);

}

.div-title {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;

}

#container {
    text-align: center;
=======
	width: 100%;
}

#div-main {
	width: 100%;
	margin: auto;
}

#div-main h3 {
	text-align: center;
}

.div-title {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 20px;
}

#container {
	text-align: center;
}

/* Trip View Styles */

/*form style here*/

#input-pickup-location {
	width: 150px;
>>>>>>> merging with upstream master
}
