
.trip-head {
  font-size: 30px;


}

.trip-view {
  position: relative;
  height: 100%;
  width: 100%;


}


.main-block {
  position: relative;
  display: inline-block;
  float: left;
  clear: both;
  height: 500px;
  padding-top: 15px;
  margin-left: 5px;
  width: 70%;
  background-color: #B2C2D0;
  border:2px solid black;

  border-radius: 6px;
}


.top-right-sidebar {
  position: relative;
  display: inline-block;
  clear: both;
  height: 270px;
  padding-top: 15px;
  margin-left: 5px;
  width: 20%;
  background-color: #B2C2D0;
  border:2px solid black;

  border-radius: 6px;
}

.main-trip-block {

  padding-top: 15px;

}

.driver-side-bar {
  position: relative;
  display: inline-block;
  clear: both;
  height: 500px;
  padding-top: 15px;
  margin-left: 5px;
  width: 20%;
  background-color: #B2C2D0;
  border:2px solid black;

  border-radius: 6px;

}

#driver-intro {
  position: relative;
  display: inline-block;
  float: left;
  width: 90%;


}

#user-review-list {
  position: relative;
  display: inline-block;
  float: left;
  width: 90%;
}

.label {
 float: left;
 padding-left: 20px;
 text-decoration: bold;
}

.detail {
 float: none;
 padding-right: 20px;

}


ul {

 list-style-type: none;

}

li .detail {

}

li.review-driver-side-bar {
  width: 95%;
  background-color: #B2C2D0;
  border:1px solid black;
  padding: 5px;

  border-radius: 2px; 
}


.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.user-thumb {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

}

.user-quote {
 position: relative;
 width: 90%; 
 height: 110px; 
 border:2px solid #7293A0;
 border-radius: 6px;
}


.user-quote-title {
 float: left;


}


.price-and-seats {
  font-size: 25px;

}


.btn-lg,
.btn-group-lg > .btn {
  width: 150px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-not-riding {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-not-riding:focus,
.btn-not-riding.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-not-riding:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-not-riding:active,
.btn-not-riding.active,
.open > .dropdown-toggle.btn-not-riding {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-not-riding:active:hover,
.btn-not-riding.active:hover,
.open > .dropdown-toggle.btn-not-riding:hover,
.btn-not-riding:active:focus,
.btn-not-riding.active:focus,
.open > .dropdown-toggle.btn-not-riding:focus,
.btn-not-riding:active.focus,
.btn-not-riding.active.focus,
.open > .dropdown-toggle.btn-not-riding.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-not-riding:active,
.btn-not-riding.active,
.open > .dropdown-toggle.btn-not-riding {
  background-image: none;
}
.btn-not-riding.disabled:hover,
.btn-not-riding[disabled]:hover,
fieldset[disabled] .btn-not-riding:hover,
.btn-not-riding.disabled:focus,
.btn-not-riding[disabled]:focus,
fieldset[disabled] .btn-not-riding:focus,
.btn-not-riding.disabled.focus,
.btn-not-riding[disabled].focus,
fieldset[disabled] .btn-not-riding.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}


.btn-riding {
  color: #fff;
  background-color: #74A82A;
  border-color: #2e6da4;
}
.btn-riding:focus,
.btn-riding.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-riding:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-riding:active,
.btn-riding.active,
.open > .dropdown-toggle.btn-riding {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-riding:active:hover,
.btn-riding.active:hover,
.open > .dropdown-toggle.btn-riding:hover,
.btn-riding:active:focus,
.btn-riding.active:focus,
.open > .dropdown-toggle.btn-riding:focus,
.btn-riding:active.focus,
.btn-riding.active.focus,
.open > .dropdown-toggle.btn-riding.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-riding:active,
.btn-riding.active,
.open > .dropdown-toggle.btn-riding {
  background-image: none;
}
.btn-riding.disabled:hover,
.btn-riding[disabled]:hover,
fieldset[disabled] .btn-riding:hover,
.btn-riding.disabled:focus,
.btn-riding[disabled]:focus,
fieldset[disabled] .btn-riding:focus,
.btn-riding.disabled.focus,
.btn-riding[disabled].focus,
fieldset[disabled] .btn-riding.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}






.btn-cancel-ride {
  color: #fff;
  background-color: #C94612;
  border-color: #2e6da4;
}
.btn-cancel-ride:focus,
.btn-cancel-ride.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-cancel-ride:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-cancel-ride:active,
.btn-cancel-ride.active,
.open > .dropdown-toggle.btn-cancel-ride {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-cancel-ride:active:hover,
.btn-cancel-ride.active:hover,
.open > .dropdown-toggle.btn-cancel-ride:hover,
.btn-cancel-ride:active:focus,
.btn-cancel-ride.active:focus,
.open > .dropdown-toggle.btn-cancel-ride:focus,
.btn-cancel-ride:active.focus,
.btn-cancel-ride.active.focus,
.open > .dropdown-toggle.btn-cancel-ride.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-cancel-ride:active,
.btn-cancel-ride.active,
.open > .dropdown-toggle.btn-cancel-ride {
  background-image: none;
}
.btn-cancel-ride.disabled:hover,
.btn-cancel-ride[disabled]:hover,
fieldset[disabled] .btn-cancel-ride:hover,
.btn-cancel-ride.disabled:focus,
.btn-cancel-ride[disabled]:focus,
fieldset[disabled] .btn-cancel-ride:focus,
.btn-cancel-ride.disabled.focus,
.btn-cancel-ride[disabled].focus,
fieldset[disabled] .btn-cancel-ride.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}


.btn-hide {
 display: none;
}


