<div id='container' n>
  <div class='div-view-separator'>
    <div class="div-title">Create a trip!</div>
    <form name="tripForm" ng-submit='createTrip()' ng-submit='createTrip()'>
      Pickup
      <input id='input-pickup-location' type='text' placeholder='where is the pickup point?' ng-model='trip.pickup'>
      Dropoff
      <input id='input-pickup-location' type='text' placeholder='where is the drop-off point?' ng-model='trip.pickup'>
      <br />
      <br />
      Start
      <input type="date" name="startTime">
      <select id="time_hour" 
      		name="time_hour" 
      		required="required" class="time-select" ng-model='trip.hour'>
      		<option value="" selected="selected"></option>
      		<!--<option value="0">00</option>-->
      		<option value="1">01</option>
      		<option value="2">02</option>
      		<option value="3">03</option>
      		<option value="4">04</option>
      		<option value="5">05</option>
      		<option value="6">06</option>
      		<option value="7">07</option>
      		<option value="8">08</option>
      		<option value="9">09</option>
      		<option value="10">10</option>
      		<option value="11">11</option>
      		<option value="12">12</option>
      </select>
      <select id="time_minute" 
      		name="time_minute" 
      		required="required" class="time-select" ng-model='trip.minute'>
      		<option value="" selected="selected"></option>
      		<option value="0">00</option>
      		<option value="10">10</option>
      		<option value="20">20</option>
      		<option value="30">30</option>
      		<option value="40">40</option>
      		<option value="50">50</option>
      </select>
      <select id="AM_PM" 
      		name="AM_PM" 
      		required="required" class="time-select" ng-model='trip.timeperiod'>
      		<option value="" selected="selected"></option>
      		<option value="AM">AM</option>
      		<option value="PM">PM</option>
      </select>
      <br />
      End
      <input type="date" name="endTime">
      <select id="time_hour" 
      		name="time_hour" 
      		required="required" class="time-select"ng-model='trip.hour'>
      		<option value="" selected="selected"></option>
      		<!--<option value="0">00</option>-->
      		<option value="1">01</option>
      		<option value="2">02</option>
      		<option value="3">03</option>
      		<option value="4">04</option>
      		<option value="5">05</option>
      		<option value="6">06</option>
      		<option value="7">07</option>
      		<option value="8">08</option>
      		<option value="9">09</option>
      		<option value="10">10</option>
      		<option value="11">11</option>
      		<option value="12">12</option>
      </select>
      <select id="time_minute" 
      		name="time_minute" 
      		required="required" class="time-select" ng-model='trip.minute'>
      		<option value="" selected="selected"></option>
      		<option value="0">00</option>
      		<option value="10">10</option>
      		<option value="20">20</option>
      		<option value="30">30</option>
      		<option value="40">40</option>
      		<option value="50">50</option>
      </select>
      <select id="AM_PM" 
      		name="AM_PM" 
      		required="required" class="time-select" ng-model='trip.timeperiod'>
      		<option value="" selected="selected"></option>
      		<option value="AM">AM</option>
      		<option value="PM">PM</option>
      </select>
      <br />
      <br />
      <input id='input-numSeats' type='text' placeholder='available seats?' ng-model='trip.seats'>
      <br />
      <br />
      <button type='submit'>Create</button>
    </form>
  </div>
</div>