<div id="container" class="trip-view">
<br />
<br />
<div class="trip-head">
  <div class="div-trip-route">{{trip.pickup_point}}</div>
  <span class="glyphicon glyphicon-arrow-right arrow"></span>
  <div class="div-trip-route">{{trip.dropoff_point}}</div>
</div>

  <div class="trip-view">

    <div id="container" class="main-block">
      <ul>
        <li class="main-trip-block">
          <div class="label"> Pickup Point: </div>
          <div class="detail">{{trip.pickup_point}}</div>
        </li>
        <li class="main-trip-block">
          <div class="label"> Dropoff Point: </div>
          <div class="detail"> {{trip.dropoff_point}}</div>
        </li>
        <li class="main-trip-block">
          <div class="label"> Date: </div>
          <div class="detail"> {{trip.depart_date}} at {{trip.depart_time}} </div>
        </li>
        <li class="main-trip-block">
          <div class="label"> Details:  </div>
          <div class="detail">Travel time - {{trip.window}}, Room for {{trip.cargo}}
          </div>
        </li>
      </ul>
      <div class="user-quote">
        <img class="thumb  user-thumb" ng-src="{{user.profile_pic}}" alt="{{user.name}}">

        <p class="user-quote-title"><strong>{{user.username}} says:</strong></p>
        <p class="user-trip-description">{{trip.description}}</p>
      </div>
    </div>
  </div>

  <div id="container" class="top-right-sidebar" >

    <p class="price-and-seats"> ${{trip.seat_price}} | {{trip.seats}} Seats left</p>

    <p class="confirm-seat-message">Click to book your seat:</p>
    
    <button ng-class="{'btn btn-lg btn-not-riding': !isRider, 'btn btn-lg btn-riding': isRider}" type="button" ng-click="takeSeat()">{{button}}</button>

    <p id="err_msg" ng-show="!(loggedIn)">Must be logged in to confirm a seat.</p>

    <p></p>



    <input ng-class="{'btn btn-lg btn-cancel-ride': isRider, 'btn-hide': !isRider}" type="button" value="Cancel Seat" ng-click="cancelSeat()">



  </div>

  




  <div id="container" class="driver-side-bar">

    <div id="driver-intro">
      <p class="driver-title"><h2>Driver</h2></p>

      <img class="thumb  user-thumb" ng-src="{{user.profile_pic}}" alt="{{user.name}}">
      <h3>{{user.username}}</h3>
      <p></p>
      <p></p>
    </div>
 

    <div id="user-review-list">
      <p>Reviews:</p>
      <p>Review Count: {{reviews.review_count}}</p>
      <p>Avg Review: {{reviews.review_avg}}</p>
      <ul class="reviews">
        <li ng-repeat="review in reviews" class="review-driver-side-bar">
        <p class="review-stars">Stars: {{review.review_stars}}</p>
        <p class="review-description">{{review.review}}</p>
        </li>
      <ul>
    </div>

  </div>


<!--
  <div id="container" class="messages-box">


       <p>{{messages.here}}</p>
     <div ng-repeat="message in messages | orderBy: 'id': true" ng-include="'app/messages/response.html'" ng-init="level = level + 1">


     </div>


    <form class="add-message" name="addMessageform" role="form" ng-submit='addMessage()'>


      <p></p>
      <p></p>


      <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="lg">Message: </label>
        <div>
          <textarea type='text' ng-model='new_message.message_text' placeholder="Ask a question." required></textarea>

        </div>
      </div>

      <div>
        <p></p>
          <input type="submit" value="Submit Message">
        <p></p>
      </div>



    </form>
</div>
!-->




</div>