 <div id="home-main" >
    <h3>Where do you want to go?</h3>
    <button id="howItWorks" type="button">How It Works</button>
    <form ng-controller="HomeController">
	    <div id="div-searchboxes">
	      <input type="text" value="Pickup Point" ng-model='pickupPoint'></input>
	      <input type="text" value="Dropoff Point" ng-model='dropoffPoint'></input>  
	      <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
	      <md-button ng-click= "searchTrip({'pickup_point':pickupPoint, 'dropoff_point': dropoffPoint, 'depart_date': myDate})" style="margin-right:20px;">Search</md-button>
	    </div>
	</form>
 </div>