<div id='signin'>
  <h1>signin</h1>
  <script>
  var formValidation = function (element) {alert(element);};
  </script>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text' required pattern="^([a-zA-Z])[a-zA-Z_-]*[\w_-]*[\S]$|^([a-zA-Z])[0-9_-]*[\S]$|^[a-zA-Z]*[\S]$" ng-model='user.username'>
    <input type="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" ng-model='user.password'>
    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
